*{
    padding:0px;
    margin:0px;
    
}
.na{
    background-color: rgb(185, 233, 240);
   
}
   

.n1{
    display: flex;
   justify-content:space-between;
    
}
.n2
{
    color: white;
    display: flex;
    justify-content: space-around;
}
.n21,.n22
{
    display: flex;
    justify-content:space-between;
    width: 600px;
}
.n22{
    display: flex;
    justify-content:space-between;
    width: 400px;
}
.gr
{
    padding: 20px;
    display: grid;
    grid-row: auto auto auto auto;
    row-gap: 20px;
    background-color:rgb(223, 244, 249); ;
}
.r1,.r2,.r3,.r4
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .en{
    display: flex;
    justify-content: space-around;
    color: azure;
    background-color: black;
  }

  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }